/*Classes*/
  .forumObj { /*This applies to any type of post in a thread.*/
	   border-style: none;
	   border-radius: 3px;
     display: flex;
   }

   .forumCon > em, .forumCon > b, .forumCon > ul, .forumCon > t, .forumCon > br, ul > li, em > b, b > em, t > em, t > b, t > ul, t, em { /*t = I created this tag element.*/
     color: #EFEFEF; /*Makes sure that the rule is directly taken by each element in a forumObj ready for nightmode.*/
   }

   .forumCon {
   	 min-width: 90%;
   	 max-width: 90%;
   	 padding: 5% 5% 5% 5%;
   }

   .forumNameTag {
   	 float: right;
   }

   .deleteBtn {
     margin-top: 2%;
     margin-bottom: -2%;
   }
   /*Post types*/
       .message { /*Reply to an OP.*/
	        cursor: pointer;
	        margin-left: 5%;
	        width: 95%;
       }

       .reply { /*Reply to a message.*/
	        float: right;
	        margin-left: 10%;
	        width: 90%;
          margin-bottom: 2%;
        }
