.forumObj {
	background-color: transparent;
	border-color: #EFEFEF;
	border-style: solid;
	border-radius: 5px;
	border-width: 5px;
	color: #EFEFEF;
	font-family: "Comfortaa", cursive;
}

.OP {
	background-color: #EFEFEF;
	color: #444;
}

.forumCon {
	min-width: 90%;
	max-width: 90%;
	padding: 5% 5% 5% 5%;
}

.forumNameTag {
	float: right;
}