/*IDs*/
  #dayChangeBtn {
    position: fixed; /* Stays at a specifed location and does not move based on the nearest, upper nested relative element.*/
    right: 2vw;
    top: 2vw;
    z-index: 1000; /* Stays on top of all elements so that it can always be accessed. */
    color: #666;
  }

/*Elements*/
  ::selection { /* The style of highlighted text. */
    background-color: inherit; /* No change in style to keep the website style continous. */
    color: inherit;
  }

  body {
    background-color: #EFEFEF;
    color: #333;
    font-family: 'Comfortaa', cursive;
    overflow: hidden; /* Any excess width or height of an element to the outside of the viewport is hidden away from view. */
    box-sizing: border-box;
    cursor: default;
  }

  div {
    display: block; /* Displayed as a section of the webpage. */
    box-sizing: border-box;
  }

  p {
    margin-bottom: -1%; /* Pushes text downwards. */
  }

  hr {
    border-width: thin;
    color: #333;
    border-style: solid;
  }
/*Classes*/
  .floatAesthetic {
    box-shadow: 7px 7px 17px #AAA; /* Creates a shadow effect from an element. */
  }

  .text {
    font-size: 100%;
    max-width: 100%;
    min-width: 100%;
    overflow-wrap: break-word; /* Defines where breaks are places in words when overflowing. This will only break a word if a word cannot be placed on its own line without overflowing. */
    color: #EFEFEF;
  }

  .text > b, text > em {
    color: #EFEFEF;
  }
  /*Coloured text classes*/
    .coloredText {
      -webkit-text-fill-color: transparent; /* Lets us see the background behind a peice of text. */
      -webkit-background-clip: text !important; /* Sets the background of an element to only be displayed where the tet is present. */
    }

    /*Colors*/
      .redPurple { /*xY: starts with x colour ends with Y colour.*/
        background: linear-gradient(to top right, #F2092C 0%, #B50FC4 100%); /* Creates a color gradient from the bottom left corner to the top right corner.*/
      }

      .greenYellow {
        background: linear-gradient(to top right, #1FC63A 0%, #E8D31E 100%);
      }

      .orangeBlue {
        background: linear-gradient(to top right, #F2870A 0%, #11E3C3 100%);
      }

  /*Other*/
    .large{ /* Occupies all space availabale to the element in the x-axis.*/
      min-width: 100%;
      max-width: 100%;
      max-height: 10%;
      min-height: 10%;
      font-size: 100%;
      margin-left: 0;
    }
  /*Results from queries*/
    .strip {
      min-width: 100%;
      max-width: 100%;
      border-radius: 3px;
      border-style: none;
      color: #EFEFEF;
      font-size: 150%;
      cursor: pointer;
      padding: 5%;
    }

      .strip > hr { /* Sets the colour of the horizontal rule within a strip element. */
        color: #EFEFEF;
      }
