/*IDs*/
  #homeTitle {
    font-size:  1000%;
    font-weight: 700; /* Sets the boldness of the text. */
    margin-top: -2%; /* Pushes the element upwards. */
  }

  #homeSubTitle {
    font-size:  300%;
    font-weight: 400;
    margin-top: -2%;
    color: #333;
  }
