/*IDs*/
#searchInput {
  min-width: 100%;
  max-width: 100%;
  min-height: 7%;
  max-height: 7%;
  font-size: 110%;
  margin-right: 0%;
  margin-left: 0%;
}

#signOutBtn:hover {
  background-color: #CC0000 !important;
  border-color: #CC0000 !important;
  color: #EFEFEF !important;
}
/* Elements */
select {
  background-color: #EFEFEF;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: #EFEFEF;
  color: #16A7E5;
  font-family: "Comfortaa", cursive;
  width: 90%;
  font-size: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  min-height: 8%;
  cursor: pointer;
}

input {
  background-color: #EFEFEF;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: #EFEFEF;
  color: #16A7E5;
  font-family: "Comfortaa", cursive;
  font-size: 80%;
  width: 90%;
  min-height: 8%;
  box-sizing: border-box;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  cursor: pointer;
}

textarea {
  background-color: rgba(0, 0, 0, 0);
  color: #FEFEFE;
  border-color: rgba(0, 0, 0, 0);
  font-family: "Comfortaa", cursive;
  font-size: 80%;
  min-width: 100%;
  max-width: 100%;
  min-height: 40%;
  max-height: 40%;
  text-transform: uppercase;
}

textarea::-webkit-scrollbar {
  background-color: #666;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #D1C1BC;
}
/*Classes*/
.info {
  font-size: 80%;
  width: 90%;
  min-height: 8%;
  box-sizing: border-box;
  margin-left: 5%;
  margin-right: 5%;
}

.doubleForm {
  min-width: 49%;
  max-width: 49%;
  display: inline;
  height: 75%;
  overflow-y: hidden;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  border-width: thick;
  border-radius: 5px;
  border-color: #EFEFEF;
  border-style: solid;
  box-sizing: border-box;
  text-align: center;
  min-width: 90%;
  max-width: 90%;
  min-height: 15%;
  max-height: 15%;
  color: #EFEFEF;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  font-size: 80%;
  padding-left: 5%;
  padding-right: 5%;

  p {
    display: block;
    height: 50%;
    transform: translateY(-50%);
  }
}

.button:hover {
  background-color: #EFEFEF;
  color: #16A7E5;
  cursor: pointer;
}

.large{
  min-width: 100%;
  max-width: 100%;
  max-height: 10%;
  min-height: 10%;
  padding-left: 0;
  padding-right: 0;
  font-size: 100%;
  margin-left: 0;
}

.con {
  min-width: 100%;
  min-height: 100%;
  display: block;
  position: relative;
  top: 10%;
  /* Centralise */
}

.PUInput {
  color: #444 !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
}

.deleteBtn {
  margin-top: 2%;
  margin-bottom: -2%;
}

.red {
  background-color: #E50000 !important;
  border-color: #E50000 !important;
  color: #EFEFEF !important;
}

.red:hover {
  background-color: #CC0000 !important;
  border-color: #CC0000 !important;
}
