/* Elements */
  select, input, textarea, .button {
    background: rgba(238, 238, 238, 0.7);
    color: #333;
    border-style: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    min-height: 8%;
    font-family: "Roboto Mono", monospace;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    padding: 5px;
  }

  select > option { /* This makes sure that the optiosn are always visible regaerdless of colour mode. */
    color: #333;
  }

  form {
    max-width: 90%;
    min-width: 90%;
    margin: 0;
    margin-top: 2%;
  }

  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 40%;
    max-height: 40%;
    text-transform: uppercase;
  }

    textarea::-webkit-scrollbar {
      background-color: #EFEFEF;
    }

    textarea::-webkit-scrollbar-thumb {
      background-color: #333;
    }
    /*Red button*/
      .redBtn {
        background-color: #E50000 !important;
        border-color: #E50000 !important;
        color: #EFEFEF !important;
      }

      .redBtn:hover, #signOutBtn:hover { /*Added specifity to overide button hover for signOutBtn.*/
        background-color: #CC0000 !important;
        border-color: #CC0000 !important;
      }

      .redBtn > p {
        transform: translateY(50%);
      }
  /*Button*/
    .button {
      text-align: center;
      min-height: 12%;
      max-height: 12%
      cursor: pointer;
      p {
        display: block;
        height: 50%;
        transform: translateY(-50%);
        font-size: 120%;
      }
    }

    button:hover, input:hover, select:hover, textarea:hover  { /*Used hover here AND javaScript for input hovering so as */
      background-color: #EFEFEF !important;     /*to include submit inout buttons. Also to achieve hover effect.*/
      border-color: #EFEFEF !important;
    }
  /*Removes chrome slection effects.*/
    textarea:hover,
    input:hover,
    textarea:active,
    input:active,
    textarea:focus,
    input:focus,
    button:focus,
    button:active,
    button:hover,
    label:focus,
    .btn:active,
    .btn.active
    {
      outline:0px !important;
      -webkit-appearance:none;
    }
