@media only screen and (max-width: 500px) { /*For mobile displays (or any other display that ahs a maximum width of 500 pixels. This is NOT the width of the viewport.)*/
  #menuCon {
    max-height: 5%;
    min-height: 5%;
    max-width: 100%;
    min-width: 100%;
    display: block;
    margin-bottom: 5%;
    z-index: 101;
  }

  #menuCon p {
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2%;
    margin-right: 2%;
  }

  #dayChangeBtn { /* Moves the button the chnage the color scheme to a more suitable location. */
    top: 0.5%;
    right: 1%;
  }

  #accountPage, #homePage, #toolPage, #newsPage, #aboutPage, #forumPage, #forumSingleViewPage, #toolSingleViewPage, #searchPage {
    margin-left: 5%; /* Lets us occupy slightly more room now that the menu bar has gone, and keeps a margin for easier reading.*/
    margin-right: 5%; /* ^ */
    margin-top: 12%; /* Shifts all pages downwards to make room for the new postion of the menu bar. */
  }

  .doubleForm {
    margin-bottom: 5%;
    min-width: 100%;
    max-width: 100%;
  }

  .menuRule {
    display: none; /* No horizontal rules in the menu bar in the new position. */
  }
}
