/*Animations*/
@keyframes fadeIn {
    100% {opacity: 1;}
}
@keyframes fadeOut {
    100% {opacity: 0;}
}
/*Elements*/
p {
  margin-bottom: -1%;
}

hr {
  outline-width: thin;
  outline-color: #D1C1BC;
}

input {
  cursor: pointer;
}

select {
  cursor: pointer;
}
/*IDs*/
#mainCon {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-width: 1px;
  min-height: 1px;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#menuCon {
  position: fixed;
  width: 5%;
  height: 100%;
  min-width: 1px;
  min-height: 1px;
  background-color: #444;
  text-align: center;
}

#homePage {
  opacity: 1;
}
/*Classes*/
.menuRule {
  width: 70%;
}

.page {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 91%;
  height: 96%;
  min-width: 1px;
  min-height: 1px;
  margin-left: 7%;
  margin-right: 2%;
  margin-bottom: 4%;
  margin-top: 2%;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}

.textCon {
  width: 100%;
  height: 100%;
  min-width: 1px;
  min-height: 1px;
}

.title {
  font-size: 300%;
  font-weight: bolder;
  font-family: "Comfortaa", cursive;
  color: #EEE82C;
  margin-top: -1%;
}

.subTitle {
  font-size: 190%;
  font-family: "Comfortaa", cursive;
  color: #FFFFFF;
}

.text {
  max-height: 200%;
  font-size: 130%;
  font-family: "Comfortaa", cursive;
  column-count: 4;
  column-rule-color: #D1C1BC;
  column-rule-width: medium;
  column-fill: auto;
  padding-right: 1%;
}

.textLateral {
  font-size: 130%;
  font-family: "Comfortaa", cursive;
  padding-right: 1%;
}

.material-icons {
  cursor: pointer;
}
