/*Animations*/
@keyframes fadeIn {
    100% {opacity: 1;}
}
@keyframes fadeOut {
    100% {opacity: 0;}
}
/*Elements*/
p {
  margin-bottom: -1%;
}

hr {
  border-width: thin;
  border-color: #FEFEFE;
  border-style: solid;
}

fieldset {
  border-color: #EFEFEF;
  border-width: thick;
  border-style: solid;
  border-radius: 5px;
  color: #EFEFEF;
  font-size: 130%;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
/*IDs*/
#mainCon {
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-width: 1px;
  min-height: 1px;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow-x: hidden;
}

#mainCon::-webkit-scrollbar {
  background-color: #D1C1BC;
  width: 1%;
}

#mainCon::-webkit-scrollbar-thumb {
  background-color: #444;
}

#menuCon {
  position: fixed;
  width: 5%;
  height: 100%;
  min-width: 1px;
  min-height: 1px;
  background-color: #444;
  text-align: center;
  color: #D1C1BC;
}

#homePage {
  opacity: 1;
}

.postBtn {
  display: none;
}
/*Classes*/
.menuRule {
  border-color: #D1C1BC;
  width: 70%;
}

.page {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 91%;
  height: 96%;
  min-width: 1px;
  min-height: 1px;
  margin-left: 7%;
  margin-right: 2%;
  margin-bottom: 4%;
  margin-top: 2%;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}

.textCon {
  width: 100%;
  height: 100%;
  min-width: 1px;
  min-height: 1px;
}

.title {
  font-size: 300%;
  font-weight: bolder;
  font-family: "Comfortaa", cursive;
  color: #FFB71C;
  margin-top: -1%;
}

.subTitle {
  font-size: 190%;
  font-family: "Comfortaa", cursive;
  color: #FEFEFE;
}

.text {
  font-size: 130%;
  font-family: "Comfortaa", cursive;
  padding-right: 1%;
}

.material-icons {
  cursor: pointer;
}
