/*Animations*/
@keyframes fadeIn {
    100% {opacity: 1;}
}
@keyframes fadeOut {
    100% {opacity: 0;}
}
/*Elements*/
p {
  margin-bottom: -1%;
}

hr {
  outline-width: thin;
  outline-color: #FEFEFE;
}

input {
  cursor: pointer;
}

select {
  cursor: pointer;
}

fieldset {
  border-color: #EFEFEF;
  border-width: thick;
  border-style: solid;
  border-radius: 5px;
  color: #EFEFEF;
  font-size: 130%;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
}
/*IDs*/
#mainCon {
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-width: 1px;
  min-height: 1px;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow-x: hidden;
}

#mainCon::-webkit-scrollbar {
  background-color: #D1C1BC;
  width: 1%;
}

#mainCon::-webkit-scrollbar-thumb {
  background-color: #444;
}

#menuCon {
  position: fixed;
  width: 5%;
  height: 100%;
  min-width: 1px;
  min-height: 1px;
  background-color: #444;
  text-align: center;
  color: #D1C1BC;
}

#homePage {
  opacity: 1;
}
/*Classes*/
.menuRule {
  width: 70%;
}

.page {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 91%;
  height: 96%;
  min-width: 1px;
  min-height: 1px;
  margin-left: 7%;
  margin-right: 2%;
  margin-bottom: 4%;
  margin-top: 2%;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}

.textCon {
  width: 100%;
  height: 100%;
  min-width: 1px;
  min-height: 1px;
}

.title {
  font-size: 300%;
  font-weight: bolder;
  font-family: "Comfortaa", cursive;
  color: #FFB71C;
  margin-top: -1%;
}

.subTitle {
  font-size: 190%;
  font-family: "Comfortaa", cursive;
  color: #FEFEFE;
}

.text {
  font-size: 130%;
  font-family: "Comfortaa", cursive;
  padding-right: 1%;
}

.material-icons {
  cursor: pointer;
}

.doubleForm {
  min-width: 49%;
  max-width: 49%;
  display: inline;
  height: 75%;
  overflow-y: hidden;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  border-width: thick;
  border-radius: 5px;
  border-color: #EFEFEF;
  border-style: solid;
  text-align: center;
  min-width: 90%;
  max-width: 90%;
  min-height: 15%;
  max-height: 15%;
  color: #EFEFEF;
  vertical-align: bottom;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  font-style: "Consolas";

  p {
    height: 50%;
    transform: translateY(-50%);
  }
}

.button:hover {
  background-color: #EFEFEF;
  color: #16A7E5;
  cursor: pointer;
}

.con {
  min-width: 100%;
  min-height: 100%;
  display: block;
  position: relative;
  top: 10%;
  /* Centralise */
}
