/*Classes*/
  .boardConPU{ /*This is what dims the background*/
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100vw; /* 1vw = viewport width/100 */
    min-height: 100vh; /* 1vh = viewport height/100 */
    max-width: 100vw;
    max-height: 100vh;
    background-color: rgba(64, 64, 64, 0.6);
  }

  .popUpBox { /*This is what makes the actual pop up.*/
    position: relative;
    border-radius: 3px;
    border-style: none;
    border-width: 5px;
    max-width: 70%;
    min-width: 70%;
    max-height: 70%;
    min-height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5%;
    box-sizing: border-box;
    z-index: 999;
    box-shadow: 2px 2px 10px #222;
    overflow-y: auto; /* Lets us scroll through the content of the notification. */
  }

    .popUpBox::-webkit-scrollbar { /* Sets the properties of the scrollbar backgound. */
      background-color: transparent;
      width: 1%;
    }

    .popUpBox::-webkit-scrollbar-thumb {  /* Sets the properties of the scrollbar draggable part. */
      background-color: #EFEFEF;
    }

    .textConPU { /*This is where the body of the pop up goes.*/
      color: #EFEFEF;
      margin-top: 5%;
      margin-left: 5%;
      margin-bottom: 5%;
      margin-right: 5%;
    }

    .titlePU {
      color: #EFEFEF;
      font-size: 300%;
      font-weight: bolder;
    }

    .crossPU { /*For closing the pop up*/
      float: right;
      cursor: pointer;
    }

    /*Pop up inputs*/

      .textareaPU {
        background-color: #EFEFEF;
        border-color: #EFEFEF;
        text-transform: none; /* Keeps the user inputted text as unchnaged in term sof capitalisation. */
        color: #333;
      }

      .subjectTextareaPU {
        max-height: 20%;
        min-height: 20%;
      }
