/*IDs*/
#searchBoxForm {
  text-align: center;
  padding: 5% 5% 5% 5%;
}

#inputsCon {
  max-width: 100%;
  min-width: 100%;
}

  #searchType { /* The part of the search form which lets us specify what type of data we are looking for. */
    color: #EFEFEF;
    max-width: 30%;
    min-width: 30%;
    margin-right: 2%;
    float: left;
    font-size: 110%;
  }

  #searchBox { /* The part of the search form which we type into. */
    color: #EFEFEF;
    max-width: 50%;
    min-width: 50%;
    font-size: 110%;
    margin-right: 2%;
  }

  #searchBtn {
    color: #EFEFEF;
    max-width: 16%;
    min-width: 16%;
    float: right;
    max-height: 8%;
    min-height: 8%;
    font-size: 110%;
  }
