/*IDs*/
  #searchDetailsCon{ /* This contains the search form. */
    max-width: 100%;
    min-width: 100%;
  }
  #searchType {
    color: #EFEFEF;
  }
  #searchBoxAllForm {
    text-align: center;
    padding: 5% 5% 5% 5%;
  }
  #searchBoxAll {
    transform: translateY(100%);
    color: #EFEFEF;
  }
