/* Animations */
@keyframes bounce {
  50% {transform: translateY(-5%);}
  100% {transform: translateY(5%);}
}

@keyframes flyAway {
  100% {transform: translateY(2000px);}
}

@keyframes floatOne {
  50% {transform: translate(10%, 10%);}
}

@keyframes floatTwo {
  50% {transform: translate(-10%, -10%);}
}

@keyframes floatThree {
  50% {transform: translate(-10%, 10%);}
}

@keyframes floatFour {
  50% {transform: translate(10%, -10%);}
}

@keyframes backgroundGlide {
  50% {background-position: 100% 0%;}
  100% {background-position: 0% 100%;}
}
/* Elements */
::selection {
  background-color: inherit;
  color: inherit;
}

body {
  background: linear-gradient(45deg, #17EA29, #16A7E5, #17EA29);
  background-size: 400% 400%;
  background-position: 0% 100%;
  color: #EFEFEF;
  font-style: 'Comfortaa', cursive;
  overflow: hidden;
  box-sizing: border-box;
  cursor: default;
  animation-name: backgroundGlide;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 1000%;
  color: #FEFEFE;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  box-sizing: border-box;
}

div {
  display: block;
  box-sizing: border-box;
}
/* IDs */
#enterBtn {
  display: block;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  position: relative;
  z-index: 2;
}

#bgObjCon {
  font-family: 'Megrim', cursive;
}

#dayChangeBtn {
  position: fixed;
  right: 2vw;
  top: 2vw;
  z-index: 1000;
}
/* Classes */
.bgObjBig {
  font-size: 600%;
  animation-name: floatOne;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

.bgObjMed {
  font-size: 400%;
  animation-name: floatOne;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

.bgObjSmall {
  font-size: 200%;
  animation-name: floatOne;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}