/*Animations*/

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes pulseBar {
    50% {
        width: 96%;
        height: 10.1%;
    }
}

/*Elements*/

a {
    font-family: "Comfortaa", cursive;
    font-size: 200%;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    cursor: pointer;
}

hr {
    border-radius: 5px;
    border-color: #4E3D42;
    border-style: solid;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(50%);
}

/*IDs*/

#menuCon {
    opacity: 0;
    min-width: 1px;
    min-height: 1px;
    width: 100%;
    height: 100%;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#menuBar {
    background-color: #4E3D42;
    min-width: 1px;
    min-height: 1px;
    width: 95%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: #4E3D42;
    text-align: center;
    transform: translateY(860%);
    color: #EEE2DF;
}

#menuTextCon {
    transform: translateY(40%);
}

#menuCard {
    background-color: #D1C1BC;
    min-width: 1px;
    min-height: 1px;
    width: 95%;
    height: 77.5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: #D1C1BC;
    transform: translateY(-7.5%);
}

#titleText {
    font-family: "Comfortaa", cursive;
    font-size: 200%;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}

#optionsIcon {
    float: right;
    cursor: pointer;
}

#homePage {
    width: 96%;
    height: inherit;
    min-width: 1px;
    min-height: 1px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #D1C1BC;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: #D1C1BC;
    min-width: 1px;
    min-height: 1px;
    position: absolute;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#optionsPage {
    width: 96%;
    height: inherit;
    min-width: 1px;
    min-height: 1px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #D1C1BC;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: #D1C1BC;
    min-width: 1px;
    min-height: 1px;
    position: absolute;
    opacity: 0;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
/*classes*/

.subTitle {
    font-family: "Comfortaa", cursive;
    font-size: 150%;
    color: #4E3D42;
}

.text {
    font-family: "Comfortaa", cursive;
    color: #A49694;
}
